@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f0f4ef; }

.titulo_ppal {
  font-family: "Sora", sans-serif;
  color: #0d0531;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4.5s steps(40, end), blink-caret 1s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

.titulo {
  font-family: "Sora", sans-serif;
  padding-left: 20px;
  color: #0d0531; }

.parrafo {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: justify;
  padding: 20px;
  line-height: 24px;
  color: #0d0531; }

.encabezado {
  grid-area: encabezado;
  background-color: #344966;
  width: 100%; }
  .encabezado .logo_texto {
    display: flex;
    justify-content: center;
    align-items: center; }
    .encabezado .logo_texto .logo img {
      margin-right: 20px;
      width: 40px;
      height: 40px; }
    .encabezado .logo_texto .textoWebLab {
      font-family: "JetBrains Mono", monospace;
      color: #0d0531;
      padding-top: 5px;
      font-size: 22px; }

.navbar {
  grid-area: navbar;
  background-color: #b4cded; }
  .navbar .menu .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d0531;
    font-weight: bold;
    font-family: "Sora", sans-serif; }
    .navbar .menu .nav-link:hover {
      background-color: #344966;
      color: white; }

.containerIndex {
  background-image: url(../img/imginicio.jpg);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.8fr auto 2fr;
  grid-template-areas: "encabezado" "navbar" "seccionesIndex" "pie"; }
  .containerIndex .seccionesIndex {
    grid-area: seccionesIndex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .containerIndex .seccionesIndex .seccionBienvenida {
      border: dotted;
      padding-top: 15px;
      background: linear-gradient(to bottom, #f0f4ef, #b4cded);
      font-weight: 600;
      margin: 80px 60px;
      transform: scale(0.94);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1); }
      .containerIndex .seccionesIndex .seccionBienvenida .parrafo .button {
        color: white;
        padding: 6px 6px;
        background: #344966;
        text-decoration: none;
        border-radius: 12px; }
        .containerIndex .seccionesIndex .seccionBienvenida .parrafo .button:hover {
          opacity: 0.8; }
    .containerIndex .seccionesIndex .opinion {
      margin-top: 50px;
      margin-bottom: 150px;
      width: 80%; }
      .containerIndex .seccionesIndex .opinion .titulo {
        text-align: center; }
      .containerIndex .seccionesIndex .opinion .seccionOpiniones {
        overflow-x: hidden;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly; }
        .containerIndex .seccionesIndex .opinion .seccionOpiniones .cardOpinion {
          background: linear-gradient(to bottom, #f0f4ef, #b4cded);
          text-align: center; }
          .containerIndex .seccionesIndex .opinion .seccionOpiniones .cardOpinion .nombreEmpresa {
            font-family: "Montserrat", sans-serif;
            font-weight: bold; }

@keyframes scale {
  100% {
    transform: scale(1); } }

.containerNosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.8fr auto 2fr;
  grid-template-areas: "encabezado" "navbar" "seccionesNosotros" "pie"; }
  .containerNosotros .seccionesNosotros {
    grid-area: seccionesNosotros;
    margin-bottom: 100px; }
    .containerNosotros .seccionesNosotros .fotoynosotros {
      margin-bottom: 100px;
      padding-left: 20px;
      padding-right: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1;
      grid-template-areas: "fotoEquipo seccionesSomosyMision"; }
      .containerNosotros .seccionesNosotros .fotoynosotros .fotoEquipo {
        grid-area: fotoEquipo;
        display: flex;
        justify-content: center;
        align-items: center; }
        .containerNosotros .seccionesNosotros .fotoynosotros .fotoEquipo img {
          border-radius: 10%;
          width: 536px; }
      .containerNosotros .seccionesNosotros .fotoynosotros .seccionesSomosyMision {
        grid-area: seccionesSomosyMision; }
    .containerNosotros .seccionesNosotros .descripcionEquipo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      padding-left: 20px;
      padding-right: 20px; }
      .containerNosotros .seccionesNosotros .descripcionEquipo .container {
        position: relative;
        width: 50%; }
        .containerNosotros .seccionesNosotros .descripcionEquipo .container .image {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
          border-radius: 40%;
          margin-top: 20px; }
        .containerNosotros .seccionesNosotros .descripcionEquipo .container .middle {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center; }
          .containerNosotros .seccionesNosotros .descripcionEquipo .container .middle .text {
            background-color: #b4cded;
            color: #0d0531;
            font-size: 16px;
            padding: 16px 32px;
            font-weight: bold;
            font-family: "Sora", sans-serif; }
        .containerNosotros .seccionesNosotros .descripcionEquipo .container:hover .image {
          opacity: 0.3;
          border-radius: 40%; }
        .containerNosotros .seccionesNosotros .descripcionEquipo .container:hover .middle {
          opacity: 1; }

.containerServicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.8fr auto 2fr;
  grid-template-areas: "encabezado" "navbar" "servicios" "pie"; }
  .containerServicios .servicios {
    grid-area: servicios;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "servicioDiseño" "servicioCreacion" "servicioTraduccion";
    row-gap: 70px;
    margin-bottom: 100px;
    max-width: 100%; }
    .containerServicios .servicios .servicioDiseño {
      grid-area: servicioDiseño; }
      .containerServicios .servicios .servicioDiseño .diseño {
        display: flex;
        justify-content: center;
        align-items: center; }
        .containerServicios .servicios .servicioDiseño .diseño .imgServicio {
          margin: 20px; }
          .containerServicios .servicios .servicioDiseño .diseño .imgServicio img {
            border-radius: 10%; }
        .containerServicios .servicios .servicioDiseño .diseño .parrafo {
          margin: 20px; }
    .containerServicios .servicios .servicioCreacion {
      grid-area: servicioCreacion; }
      .containerServicios .servicios .servicioCreacion .copywriting {
        display: flex;
        justify-content: center;
        align-items: center; }
        .containerServicios .servicios .servicioCreacion .copywriting .imgServicio {
          margin: 20px; }
          .containerServicios .servicios .servicioCreacion .copywriting .imgServicio img {
            border-radius: 10%; }
        .containerServicios .servicios .servicioCreacion .copywriting .parrafo {
          margin: 20px; }
    .containerServicios .servicios .servicioTraduccion {
      grid-area: servicioTraduccion; }
      .containerServicios .servicios .servicioTraduccion .traduccion {
        display: flex;
        justify-content: center;
        align-items: center; }
        .containerServicios .servicios .servicioTraduccion .traduccion .imgServicio {
          margin: 20px; }
          .containerServicios .servicios .servicioTraduccion .traduccion .imgServicio img {
            border-radius: 10%; }
        .containerServicios .servicios .servicioTraduccion .traduccion .parrafo {
          margin: 20px; }

.containerPortfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.8fr auto 2fr;
  grid-template-areas: "encabezado" "navbar" "portfolio" "pie"; }
  .containerPortfolio .portfolio {
    grid-area: portfolio; }
    .containerPortfolio .portfolio .imgPortfolio {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 80px auto; }
    .containerPortfolio .portfolio .wobble-hor-bottom {
      -webkit-animation: wobble-hor-bottom 1s 1s both;
      animation: wobble-hor-bottom 1s 1s both; }
    .containerPortfolio .portfolio .video {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 80px auto; }
      .containerPortfolio .portfolio .video iframe {
        width: 853px;
        height: 480px; }
    .containerPortfolio .portfolio .parrafo {
      text-align: center; }
      .containerPortfolio .portfolio .parrafo .boton {
        margin-left: 5px;
        margin-bottom: 100px;
        display: inline-block;
        color: #0d0531;
        text-decoration: none;
        padding: 5px 15px;
        border: 3px solid #b4cded;
        border-radius: 10px; }
        .containerPortfolio .portfolio .parrafo .boton:hover {
          animation: pulsate 1s ease-in-out; }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #0d0531, 0 0 50px #344966; } }

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

.containerContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.8fr auto 2fr;
  grid-template-areas: "encabezado" "navbar" "contacto" "pie"; }
  .containerContacto .contacto {
    grid-area: contacto;
    margin-bottom: 100px; }
    .containerContacto .contacto .formularios {
      display: grid;
      grid-template-columns: 0.6fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "mensaje"  "opinion";
      row-gap: 40px;
      margin: auto 25px;
      justify-content: center; }
      .containerContacto .contacto .formularios .mensaje {
        grid-area: mensaje; }
        .containerContacto .contacto .formularios .mensaje .titulo {
          padding-left: 0px; }
        .containerContacto .contacto .formularios .mensaje .form {
          margin-top: 20px;
          font-family: "Montserrat", sans-serif; }
          .containerContacto .contacto .formularios .mensaje .form .btn {
            background-color: #b4cded; }
      .containerContacto .contacto .formularios .opinion {
        grid-area: opinion; }
        .containerContacto .contacto .formularios .opinion .titulo {
          padding-left: 0px; }
        .containerContacto .contacto .formularios .opinion .form {
          margin-top: 20px;
          font-family: "Montserrat", sans-serif; }
          .containerContacto .contacto .formularios .opinion .form .btn {
            background-color: #b4cded; }

.pie {
  grid-area: pie;
  background-color: #b4cded;
  display: flex;
  justify-content: space-between;
  color: #0d0531;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
  padding-right: 30px; }
  .pie .redes {
    text-align: center; }
    .pie .redes .logo-redes img {
      width: 30px;
      height: 30px; }
      .pie .redes .logo-redes img:hover {
        width: 40px;
        height: 40px; }
  .pie .copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column; }
    .pie .copyright img {
      width: 32px;
      margin-bottom: 20px; }
    .pie .copyright .jump {
      transform-origin: 50% 50%;
      animation: jump .5s linear alternate infinite; }
    .pie .copyright p {
      margin-bottom: 3px; }
  .pie .datosContacto {
    text-align: right;
    line-height: 15px; }

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  40% {
    transform: translate3d(0, 30%, 0) scale3d(0.7, 1.5, 1); }
  100% {
    transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1); } }

@media screen and (min-width: 321px) and (max-width: 576px) {
  .parrafo {
    font-size: 14px; }
  .titulo {
    font-size: 18px; }
  .titulo_ppal {
    font-size: 20px; }
  .logo img {
    width: 15px;
    height: 15px; }
  .textoWebLab h2 {
    font-size: 10px;
    color: white; }
  .menu a {
    font-size: 14px; }
  .pie {
    font-size: 8px;
    padding-left: 10px;
    padding-right: 10px; }
    .pie .copyright img {
      width: 25px;
      margin-bottom: 25px; }
    .pie .datosContacto {
      line-height: 2px; }
  .containerIndex .seccionesIndex .seccionBienvenida {
    margin: 80px 25px; }
  .containerIndex .seccionesIndex .opinion {
    margin-top: 25px;
    margin-bottom: 80px;
    width: 100%; }
    .containerIndex .seccionesIndex .opinion .titulo {
      padding-left: 0; }
    .containerIndex .seccionesIndex .opinion .seccionOpiniones {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerIndex .seccionesIndex .opinion .seccionOpiniones .cardOpinion .nombreEmpresa {
        font-size: 14px; }
  .containerNosotros .seccionesNosotros .fotoynosotros {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .containerNosotros .seccionesNosotros .fotoynosotros .fotoEquipo img {
      border-radius: 10%;
      width: 306px;
      margin-bottom: 20px; }
  .containerNosotros .seccionesNosotros .descripcionEquipo {
    flex-direction: column;
    margin-bottom: 30px; }
    .containerNosotros .seccionesNosotros .descripcionEquipo .container {
      width: 70%; }
      .containerNosotros .seccionesNosotros .descripcionEquipo .container .image {
        margin-top: 15px; }
      .containerNosotros .seccionesNosotros .descripcionEquipo .container .middle .text {
        background-color: #344966;
        color: white;
        font-size: 12px;
        padding: 8px 10px; }
  .containerServicios .servicios {
    row-gap: 40px; }
    .containerServicios .servicios .servicioDiseño .diseño {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerServicios .servicios .servicioDiseño .diseño .imgServicio {
        margin: 20px; }
        .containerServicios .servicios .servicioDiseño .diseño .imgServicio img {
          width: 350px; }
      .containerServicios .servicios .servicioDiseño .diseño .parrafo {
        margin: 10px; }
    .containerServicios .servicios .servicioCreacion .copywriting {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerServicios .servicios .servicioCreacion .copywriting .imgServicio {
        margin: 20px; }
        .containerServicios .servicios .servicioCreacion .copywriting .imgServicio img {
          width: 350px; }
      .containerServicios .servicios .servicioCreacion .copywriting .parrafo {
        margin: 10px; }
    .containerServicios .servicios .servicioTraduccion .traduccion {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerServicios .servicios .servicioTraduccion .traduccion .imgServicio {
        margin: 20px; }
        .containerServicios .servicios .servicioTraduccion .traduccion .imgServicio img {
          width: 350px; }
      .containerServicios .servicios .servicioTraduccion .traduccion .parrafo {
        margin: 10px; }
  .portfolio .imgPortfolio img {
    max-width: 90%; }
  .portfolio .video iframe {
    max-width: 100%; }
  .containerContacto .contacto .formularios {
    grid-template-columns: 0.9fr;
    margin: auto 10px;
    row-gap: 30px; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  .parrafo {
    font-size: 12px; }
  .titulo {
    font-size: 16px; }
  .titulo_ppal {
    font-size: 18px; }
  .logo img {
    width: 15px;
    height: 15px; }
  .textoWebLab h2 {
    font-size: 8px;
    color: white; }
  .menu a {
    font-size: 12px; }
  .pie {
    font-size: 6px;
    padding-left: 5px;
    padding-right: 5px; }
    .pie .copyright img {
      width: 20px;
      margin-bottom: 20px; }
    .pie .datosContacto {
      line-height: 1px; }
  .containerIndex .seccionesIndex .seccionBienvenida {
    margin: 80px 15px; }
  .containerIndex .seccionesIndex .opinion {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%; }
    .containerIndex .seccionesIndex .opinion .titulo {
      padding-left: 0; }
    .containerIndex .seccionesIndex .opinion .seccionOpiniones {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerIndex .seccionesIndex .opinion .seccionOpiniones .cardOpinion .nombreEmpresa {
        font-size: 16px; }
  .containerNosotros .seccionesNosotros .fotoynosotros {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .containerNosotros .seccionesNosotros .fotoynosotros .fotoEquipo img {
      border-radius: 10%;
      width: 286px;
      margin-bottom: 20px; }
  .containerNosotros .seccionesNosotros .descripcionEquipo {
    flex-direction: column;
    margin-bottom: 20px; }
    .containerNosotros .seccionesNosotros .descripcionEquipo .container {
      width: 70%; }
      .containerNosotros .seccionesNosotros .descripcionEquipo .container .image {
        margin-top: 10px; }
      .containerNosotros .seccionesNosotros .descripcionEquipo .container .middle .text {
        background-color: #344966;
        color: white;
        font-size: 8px;
        padding: 5px 6px; }
  .containerServicios .servicios {
    row-gap: 20px; }
    .containerServicios .servicios .servicioDiseño .diseño {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerServicios .servicios .servicioDiseño .diseño .imgServicio {
        margin: 10px; }
        .containerServicios .servicios .servicioDiseño .diseño .imgServicio img {
          width: 250px; }
      .containerServicios .servicios .servicioDiseño .diseño .parrafo {
        margin: 5px; }
    .containerServicios .servicios .servicioCreacion .copywriting {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerServicios .servicios .servicioCreacion .copywriting .imgServicio {
        margin: 10px; }
        .containerServicios .servicios .servicioCreacion .copywriting .imgServicio img {
          width: 250px; }
      .containerServicios .servicios .servicioCreacion .copywriting .parrafo {
        margin: 5px; }
    .containerServicios .servicios .servicioTraduccion .traduccion {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .containerServicios .servicios .servicioTraduccion .traduccion .imgServicio {
        margin: 10px; }
        .containerServicios .servicios .servicioTraduccion .traduccion .imgServicio img {
          width: 250px; }
      .containerServicios .servicios .servicioTraduccion .traduccion .parrafo {
        margin: 5px; }
  .portfolio .imgPortfolio img {
    max-width: 90%; }
  .portfolio .video iframe {
    max-width: 100%; }
  .containerContacto .contacto .formularios {
    grid-template-columns: 0.9fr;
    margin: auto 5px;
    row-gap: 20px; } }
