*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: map-get($bgColors, claro);
}

.titulo_ppal{
    font-family: $fontTitulos;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    overflow: hidden;    
    white-space: nowrap;
    animation: 
    typing 4.5s steps(40, end),
    blink-caret 1s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.titulo{
    font-family: $fontTitulos;
    padding-left: 20px;
}  

.parrafo{
    font-family: $fontTexto;
    font-style: italic;
    text-align: justify;
    padding: 20px;   
    line-height: 24px; 
}