.pie{
    grid-area: pie;
    background-color: map-get($bgColors, medio);
    display: flex;
    justify-content: space-between;
    color: $letraOscura;
    font-weight: bold;
    font-family: $fontTexto;
    padding-left: 30px;
    padding-right: 30px;
    .redes{        
        text-align: center;
        .logo-redes img{
            width: 30px;
            height: 30px;
            &:hover{
                width: 40px;
                height: 40px;
            }
        }        
    }
    .copyright{        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        img{
            width: 40px;
            margin-bottom: 35px;
        }
        .jump {
            transform-origin: 50% 50%;
            animation: jump .5s linear alternate infinite;
        }
        p{
            margin-bottom: 3px;            
        }
    }
    .datosContacto{        
        text-align: right;
        line-height: 15px;
    }
}

@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
