.pie{
    grid-area: pie;
    background-color: map-get($bgColors, medio);
    display: flex;
    justify-content: space-between;
    color: $letraOscura;
    font-weight: bold;
    font-family: $fontTexto;
    padding-left: 15px;
    padding-right: 15px;
    .redes{        
        text-align: center;
        .logo-redes img{
            width: 30px;
            height: 30px;
            &:hover{
                width: 40px;
                height: 40px;
            }
        }        
    }
    .copyright{        
        display: flex;
        align-items: flex-end;
        p{
            margin-bottom: 3px;            
        }
    }
    .datosContacto{        
        text-align: right;
        line-height: 15px;
    }
}