.encabezado{
    grid-area: encabezado;
    background-color: map-get($bgColors, oscuro);
    width: 100%;
    .logo_texto{
        @include centeredFlex;
        .logo img{
            margin-right: 20px;
            width: 40px;
            height: 40px;
        }
        .textoWebLab{
            font-family: $fontHeader;
            color: $letraOscura;
            padding-top: 5px;
            font-size: 22px;
        }
    }
}