.containerIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.8fr auto 2fr;
    grid-template-areas:
    "encabezado"
    "navbar"
    "seccionesIndex"
    "pie"
    ;
    .seccionesIndex{
        grid-area: seccionesIndex;
        @include centeredFlex;
        flex-direction: column;        
        .seccionBienvenida{
            @include cuadrosDeTexto;
            margin: 80px 60px;
            transform: scale(0.94);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
        }
        
        .opinion{
            @include centeredFlex;
            margin-bottom: 100px;
            .seccionOpiniones{
                @include cuadrosDeTexto;
                margin: 80px 60px;
                width: 35%;
                .carOpiniones{
                    .nombreEmpresa{
                        text-align: center;
                        font-family: $fontTexto;
                        font-weight: bold;
                        padding-bottom: 28px;
                    }
                }                             
            }
        }        
    }
}

@keyframes scale {
    100% {
    transform: scale(1);
    }
}