.containerIndex{
    background-image: url(../img/imginicio.jpg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.8fr auto 2fr;
    grid-template-areas:
    "encabezado"
    "navbar"
    "seccionesIndex"
    "pie"
    ;
    .seccionesIndex{
        grid-area: seccionesIndex;
        @include centeredFlex;
        flex-direction: column;        
        .seccionBienvenida{
            @include cuadrosDeTexto;
            margin: 80px 60px;
            transform: scale(0.94);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
            .parrafo{
                .button{
                    color: white;
                    padding: 6px 6px;
                    background: map-get($bgColors, oscuro);
                    text-decoration: none;
                    border-radius: 12px;
                    &:hover{
                        opacity: 0.8;
                    } 
                }  
            }
        }
        
        .opinion{
            margin-top: 50px;
            margin-bottom: 150px;
            width: 80%;
            .titulo{
                text-align: center;
            }
            .seccionOpiniones{
                overflow-x: hidden;
                margin-top: 20px;
                display: flex;
                justify-content: space-evenly;
                .cardOpinion{
                    background: linear-gradient(to bottom, map-get($bgColors, claro), map-get($bgColors, medio));
                    text-align: center;
                    .nombreEmpresa{
                        font-family: $fontTexto;
                        font-weight: bold;
                    }
                }  
            }
        }      
    }
}

@keyframes scale {
    100% {
    transform: scale(1);
    }
}