.containerNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.8fr auto 2fr;
    grid-template-areas:
    "encabezado"
    "navbar"
    "seccionesNosotros"
    "pie"
    ;    
    .seccionesNosotros{
        grid-area: seccionesNosotros;
        margin-bottom: 100px;
        .fotoynosotros{    
            margin-bottom: 100px;
            padding-left: 20px;
            padding-right: 20px; 
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1;
            grid-template-areas:
            "fotoEquipo seccionesSomosyMision"
            ;
            .fotoEquipo{
                grid-area: fotoEquipo;
                @include centeredFlex;
                -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                img{
                    border-radius: 10%;
                    width: 536px;
                } 
            }
            .seccionesSomosyMision{
                grid-area: seccionesSomosyMision;
                -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
            }
        }
        .descripcionEquipo{
            @include centeredFlex; 
            margin-bottom: 100px;           
            padding-left: 20px;
            padding-right: 20px;
            .container {
                position: relative;
                width: 60%;
                .image{
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: .5s ease;
                    backface-visibility: hidden;
                    border-radius: 40%;                    
                    margin-top: 20px;
                }
                .middle{
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                    .text{
                        background-color: map-get($bgColors, medio);
                        color: $letraOscura;
                        font-size: 16px;
                        padding: 16px 32px;
                        font-weight: bold;
                        font-family: $fontTitulos;
                    }
                }
                &:hover .image{
                    opacity: 0.3;
                    border-radius: 40%;
                }
                &:hover .middle{
                    opacity: 1;
                }
            }
        }
    }
    
}

@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  
@-webkit-keyframes flip-in-ver-right {
    0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    }
}

@keyframes flip-in-ver-right {
    0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    }
} 

