.containerPortfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.8fr auto 2fr;
    grid-template-areas:
    "encabezado"
    "navbar"
    "portfolio"
    "pie"
    ;
    .portfolio{
        grid-area: portfolio;
        .imgPortfolio{
            @include centeredFlex;
            margin: 80px auto;            
        }
        .wobble-hor-bottom{
            -webkit-animation: wobble-hor-bottom 1s 1s both;
	        animation: wobble-hor-bottom 1s 1s both;
        }
        .video{
            @include centeredFlex;
            margin: 80px auto;
            iframe{
                width: 853px;
                height: 480px;                
            }
        }
        .parrafo{
            text-align: center;
            .boton{
                margin-left: 5px;
                margin-bottom: 100px;
                display: inline-block;
                color: $letraOscura;
                text-decoration: none;
                padding: 5px 15px;
                border: 3px solid map-get($bgColors, medio);
                border-radius: 10px;
                &:hover{
                    animation: pulsate 1s ease-in-out;
                }
            }
        }
        
        @keyframes pulsate{
            0%{
                box-shadow: 
                0 0 25px $letraOscura,
                0 0 50px map-get($bgColors, oscuro);
            }
        }
        
        @-webkit-keyframes wobble-hor-bottom {
            0%,
            100% {
            -webkit-transform: translateX(0%);
                transform: translateX(0%);
            -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
            }
            15% {
            -webkit-transform: translateX(-30px) rotate(-6deg);
                    transform: translateX(-30px) rotate(-6deg);
            }
            30% {
            -webkit-transform: translateX(15px) rotate(6deg);
                    transform: translateX(15px) rotate(6deg);
            }
            45% {
            -webkit-transform: translateX(-15px) rotate(-3.6deg);
                    transform: translateX(-15px) rotate(-3.6deg);
            }
            60% {
            -webkit-transform: translateX(9px) rotate(2.4deg);
                    transform: translateX(9px) rotate(2.4deg);
            }
            75% {
            -webkit-transform: translateX(-6px) rotate(-1.2deg);
                    transform: translateX(-6px) rotate(-1.2deg);
            }
        }
        @keyframes wobble-hor-bottom {
            0%,
            100% {
            -webkit-transform: translateX(0%);
                    transform: translateX(0%);
            -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
            }
            15% {
            -webkit-transform: translateX(-30px) rotate(-6deg);
                    transform: translateX(-30px) rotate(-6deg);
            }
            30% {
            -webkit-transform: translateX(15px) rotate(6deg);
                    transform: translateX(15px) rotate(6deg);
            }
            45% {
            -webkit-transform: translateX(-15px) rotate(-3.6deg);
                    transform: translateX(-15px) rotate(-3.6deg);
            }
            60% {
            -webkit-transform: translateX(9px) rotate(2.4deg);
                    transform: translateX(9px) rotate(2.4deg);
            }
            75% {
            -webkit-transform: translateX(-6px) rotate(-1.2deg);
                    transform: translateX(-6px) rotate(-1.2deg);
            }
        }
    }
}