@media screen and (min-width: 321px) and (max-width: 576px){

    .parrafo{
        font-size: 14px;
    }

    .titulo{
        font-size: 18px;
    }

    .titulo_ppal{
        font-size: 20px;
    }

    .logo img{
        width: 15px;
        height: 15px;
    }

    .textoWebLab h2{
        font-size: 10px;
        color: white;
    }

    .menu a{
        font-size: 14px;
    }

    .pie{
        font-size: 8px;
        padding-left: 10px;
        padding-right: 10px;
        .copyright{
            img{
                width: 25px;
                margin-bottom: 15px;
            }
        }
        .datosContacto{
            line-height: 2px;
        }
    }

    .containerIndex{
        .seccionesIndex{
            .seccionBienvenida{
                margin: 80px 25px;
            }
            .opinion{  
                margin-top: 25px;
                margin-bottom: 80px;
                width: 100%;
                .titulo{
                    padding-left: 0;
                }
                .seccionOpiniones{
                    margin-top: 10px;
                    @include centeredFlex;
                    flex-direction: column;
                    .cardOpinion{
                        .nombreEmpresa{
                            font-size: 14px;
                        }
                    }     
                }
            }
        }
    }

        
    .containerNosotros{
        .seccionesNosotros{
            .fotoynosotros{                
                margin-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
                @include centeredFlex;
                flex-direction: column;
                .fotoEquipo{
                    img{
                        border-radius: 10%;
                        width: 306px;                        
                        margin-bottom: 20px;
                    }
                }
            }
            .descripcionEquipo{                
                flex-direction: column;
                margin-bottom: 30px;
                .container{
                    width: 70%;
                    .image{
                        margin-top: 15px;
                    }
                    .middle{
                        .text{
                            background-color: map-get($bgColors, oscuro);
                            color: white;
                            font-size: 12px;
                            padding: 8px 10px;
                        }
                    }   
                }
            }            
        }
    }

    .containerServicios{
        .servicios{
            row-gap: 40px;
            .servicioDiseño{
                .diseño{
                    @include centeredFlex;
                    flex-direction: column;
                    .imgServicio{
                        margin: 20px;
                        img{
                            width: 350px;
                        }
                    }
                    .parrafo{
                        margin: 10px;
                    }
                }
            }        
            .servicioCreacion{
                .copywriting{
                    @include centeredFlex;
                    flex-direction: column;
                    .imgServicio{
                        margin: 20px;
                        img{
                            width: 350px;
                        }
                    }
                    .parrafo{
                        margin: 10px;
                    }
                }
            }        
            .servicioTraduccion{
                .traduccion{
                    @include centeredFlex;
                    flex-direction: column;
                    .imgServicio{
                        margin: 20px;
                        img{
                            width: 350px;
                        }
                    }
                    .parrafo{
                        margin: 10px;
                    }
                }
            }
        }
    }

    .portfolio{
        .imgPortfolio img{
            max-width: 90%;
        }
        .video iframe{        
            max-width: 100%;    
        }
    }  
    
    .containerContacto .contacto .formularios {        
        grid-template-columns: 0.9fr;
        margin: auto 10px;
        row-gap: 30px;
    }    
}

@media screen and (min-width: 0px) and (max-width: 320px){
    
    .parrafo{
        font-size: 12px;
    }

    .titulo{
        font-size: 16px;
    }

    .titulo_ppal{
        font-size: 18px;
    }

    .logo img{
        width: 15px;
        height: 15px;
    }
    
    .textoWebLab h2{
        font-size: 8px;
        color: white;
    }

    .menu a{
        font-size: 12px;
    }

    .pie{
        font-size: 6px;
        padding-left: 5px;
        padding-right: 5px;
        .copyright{
            img{
                width: 20px;
                margin-bottom: 15px;
            }
        }
        .datosContacto{
            line-height: 1px;
        }
    }

    .containerIndex{
        .seccionesIndex{
            .seccionBienvenida{
                margin: 80px 15px;
            }
            .opinion{  
                margin-top: 20px;
                margin-bottom: 100px;
                width: 100%;
                .titulo{
                    padding-left: 0;
                }
                .seccionOpiniones{
                    margin-top: 15px;
                    @include centeredFlex;
                    flex-direction: column;
                    .cardOpinion{
                        .nombreEmpresa{
                            font-size: 16px;
                        }
                    }     
                }
            }
        }
    }

    .containerNosotros{
        .seccionesNosotros{
            .fotoynosotros{                
                margin-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
                @include centeredFlex;
                flex-direction: column;
                .fotoEquipo{
                    img{
                        border-radius: 10%;
                        width: 286px;
                        margin-bottom: 20px;
                    }
                }
            }
            .descripcionEquipo{                
                flex-direction: column;
                margin-bottom: 20px;
                .container{
                    width: 70%;
                    .image{
                        margin-top: 10px;
                    }
                    .middle{
                        .text{
                            background-color: map-get($bgColors, oscuro);
                            color: white;
                            font-size: 8px;
                            padding: 5px 6px;
                        }
                    }   
                }                        
            }            
        }
    }

    .containerServicios{
        .servicios{
            row-gap: 20px;
            .servicioDiseño{
                .diseño{
                    @include centeredFlex;
                    flex-direction: column;
                    .imgServicio{
                        margin: 10px;
                        img{
                            width: 250px;
                        }
                    }
                    .parrafo{
                        margin: 5px;
                    }
                }
            }        
            .servicioCreacion{
                .copywriting{
                    @include centeredFlex;
                    flex-direction: column;
                    .imgServicio{
                        margin: 10px;
                        img{
                            width: 250px;
                        }
                    }
                    .parrafo{
                        margin: 5px;
                    }
                }
            }        
            .servicioTraduccion{
                .traduccion{
                    @include centeredFlex;
                    flex-direction: column;
                    .imgServicio{
                        margin: 10px;
                        img{
                            width: 250px;
                        }
                    }
                    .parrafo{
                        margin: 5px;
                    }
                }
            }
        }
    }

    .portfolio{
        .imgPortfolio img{
            max-width: 90%;
        }
        .video iframe{        
            max-width: 100%;
        }
    }

    .containerContacto .contacto .formularios {        
        grid-template-columns: 0.9fr;
        margin: auto 5px;
        row-gap: 20px;
    }
}