.containerServicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.8fr auto 2fr;
    grid-template-areas:
    "encabezado"
    "navbar"
    "servicios"
    "pie"
    ;
    .servicios{
        grid-area: servicios;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "servicioDiseño"
        "servicioCreacion"
        "servicioTraduccion"
        ;
        row-gap: 70px;
        margin-bottom: 100px;
        max-width: 100%;
        .servicioDiseño{
            grid-area: servicioDiseño;
            .diseño{
                @include centeredFlex;
                .imgServicio{
                    margin: 20px;
                    img{
                        border-radius: 10%;
                    }
                }
                .parrafo{
                    margin: 20px;
                }
            }
        }        
        .servicioCreacion{
            grid-area: servicioCreacion;
            .copywriting{
                @include centeredFlex;
                .imgServicio{
                    margin: 20px;
                    img{
                        border-radius: 10%;
                    }
                }
                .parrafo{
                    margin: 20px;
                }
            }
        }        
        .servicioTraduccion{
            grid-area: servicioTraduccion;
            .traduccion{
                @include centeredFlex;
                .imgServicio{
                    margin: 20px;
                    img{
                        border-radius: 10%;
                    }
                }
                .parrafo{
                    margin: 20px;
                }
            }
        }
    }
}